* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", "sans-serif";
}

/* common */

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.content {
    width: 1440px;
    max-width: calc(100% - 135px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    width: 118px;
    height: 50px;
    padding: 12px 24px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.857;
}

/* =====================header===================== */
header {
    background: #fffcf4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0 0 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    display: flex;
}

.navigation ul a {
    color: #5f5b53;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-left: 42px;
}

.navigation ul li:first-child a {
    position: relative;
    color: #171100;
    font-weight: 600;
}

.navigation ul li:first-child a::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 12px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 1px;
    background: #171100;
}

.navigation .action {
    margin-left: 70px;
}

.navigation .actions-btn {
    width: 144px;
    height: 50px;
    border-radius: 24.5px;
    background: #171100;
}
/* ==hero== */
.hero-wrap {
    background: #fffcf4;
    padding-top: 72px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero .info {
    width: 470px;
    padding: 64px 64px 64px 0;
}

.hero .info .title {
    width: 470px;
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17241;
    /* line-height: 68px; */
    letter-spacing: -1.16px;
}

.hero .info .desc {
    width: 470px;
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667;
    margin-bottom: 38px;
}

.hero .row {
    display: flex;
    align-items: center;
}

.hero .row .actions-see {
    text-align: center;
    width: 180px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #ffb900;
}

.hero .actions-watch {
    margin-left: 28px;
    display: flex;
    align-items: center;
}

.hero .play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
    margin-right: 14px;
}

.hero .info .row .play-desc {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6667;
    white-space: nowrap;
}

.hero .sub-title {
    margin-top: 48px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66667;
}

.hero .qty-item {
    display: flex;
    align-items: flex-end;
    margin-left: 28px;
}
.hero .qty-item:first-child {
    margin-left: 0px;
}
.hero .row-qty {
    margin-top: 8px;
}

.hero .qty {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22727;
}

.hero .qty-desc {
    margin-left: 10px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875;
}

.hero .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: first baseline;
    width: 270px;
    height: 244px;
    padding: 28px 24px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .card .group {
    display: flex;
    margin-bottom: 14px;
}

.hero .card .group:last-child {
    margin-bottom: 0;
}
.hero .card .group .body {
    display: flex;
    flex-direction: column;
}

.hero .body {
    margin-left: 16px;
}

.hero .body .desc {
    color: #5f5b53;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85714;
}

.hero .body .card-qty {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.66667;
}

.hero .group-img {
    position: relative;
}
.hero .group-img .card {
    position: absolute;
    top: 392px;
    right: -104px;
    bottom: 0;
}

/* =====================Courses===================== */
.courses {
    margin-top: 200px;
}
.courses .header {
    display: flex;
    justify-content: space-between;
}

.courses .header .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26316;
}

.courses .header .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66667;
}

.courses .header .icons {
    display: flex;
    gap: 0 18px;
}

.courses .header .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    text-align: center;
}

.courses .header .active {
    border-radius: 40px;
    background: #ffb900;
}

.courses .header .inactive {
    border-radius: 40px;
    border: 1px solid #ffb900;
}
